<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XHR Request Example</title>
</head>
<body>
<input value="Start Requesting" id="myButton">

<script>
    console.log(Boolean("{{ status }}"))
    {#   使用 |safe 过滤器是为了告诉 Django 这个字符串是安全的，不需要进行任何转义。#}
    let data = {{ data_json|safe }};
    console.log(data);
    let intervalId;

    document.getElementById("myButton").addEventListener("click", function () {
        if (intervalId) {
            clearInterval(intervalId);  // 如果已经在请求，则停止
            intervalId = null;
            document.getElementById("myButton").value = "Start Requesting";
        } else {
            intervalId = setInterval(function () {
                fetch("/get_status/")
                    .then(response => response.json())
                    .then(data => {
                        if (data.status) {
                            console.log("Status is true");
                        } else {
                            console.log("Status is false");
                        }
                    });
            }, 2000);  // 每两秒请求一次
            document.getElementById("myButton").value = "Stop Requesting";
        }
    });
</script>
</body>
</html>
